body {
    margin: 0px;
    overflow: hidden;
    color: white;
    text-align: center;
}

#topContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.split {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.split>div {
    width: 50%;
    height: 100%;
}

#playControls {
    position: absolute;
    bottom: 0;
    width: 50%;
}

#datGUIWrapper {
    position: absolute;
    top: 0;
    right: 50%;
}

#datGUIWrapper>div {
    display: block;
}

#datGUIDebug {
    position: absolute;
    top: 0;
    right: 0%;
}

#statsContainer {
    position: absolute;
    left: 0;
    top: 0;
}